body {
  padding: 50px;
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
}

a {
  color: #00B7FF;
}

.vis {
	display: block;
}

.invis {
	display: none;
}

.ph1, .ph2, .ph3, .ph4 {
	color: #fff;
	font-size: 48px;
	width: 100%;
	text-align: center;
}

.ph1 {
  background-color:#33CC33;
}

.ph2, .ph4 {
  background-color:#FFCC00;
}

.ph3 {
  background-color:#FF0000;
}

.axis path, .axis line
{
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
}

.axis text
{
    font-family: 'Arial';
    font-size: 13px;
}
.tick
{
    stroke-dasharray: 1, 2;
}
.bar
{
    fill: FireBrick;
}